.toggle {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 24px;
}

/* Hide the checkbox input */
.toggle input {
  display: none;
}

/* Describe slider's look and position. */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: gray;
  transition: .4s;
  border-radius: 34px;
}

/* Describe the white ball's location 
    and appearance in the slider. */
.slider:before {
  position: absolute;
  content: "";
  height: 19px;
  width: 19px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  transition: .4s;
  border-radius: 50%;
}

/* Modify the slider's background color to 
    green once the checkbox has been selected. */
input:checked+.slider {
  background-color: oklch(0.448 0.119 151.328);
}

/* When the checkbox is checked, shift the 
    white ball towards the right within the slider. */
input:checked+.slider:before {
  transform: translateX(26px);
}

.box{
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  height: 20px;
  background-color: oklch(0.444 0.177 26.899);
  padding:0 5px;
  border-radius: 3px;
  font-size: 12px;
}

.box.active{
  background-color: oklch(0.448 0.119 151.328);
}